#container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
  'sim .'
  'sim align'
  'sim .'
  'sim cohere'
  'sim .'
  'sim separate'
  'sim .'
  'sim percept'
  'sim .';
}

#subject {
  grid-area: sim;
  border: 1px solid #999999;
}

#alignment {
  grid-area: align;
}

#cohesion {
  grid-area: cohere;
}

#separation {
  grid-area: separate;
}

#perception {
  grid-area: percept;
}
